@font-face {
    font-family: "Myfont";
    src: local("Myfont"), url("../fonts/LeagueSpartan-Bold.otf"), format("otf");
}

$hederFont:'Abril Fatface',cursive;
$defaultFont:'League Spartan',sans-serif;
$primaryColor:gir ;
$border:4px solid black;